# 1.The following is a list of 10 students ages:
```
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
I. Sort the list and find the min and max age
II. Add the min age and the max age again to the list
III. Find the median age (one middle item or two middle items divided by two)
IV. Find the average age (sum of all items divided by their number )
V. Find the range of the ages (max minus min)
VI. Compare the value of (min - average) and (max - average), use _abs()_ method
```

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# I. Sort the list and find the min and max age
ages.sort()
min_age = ages[0]
max_age = ages[-1]
print("Sorted ages:", ages)
print("Min age:", min_age)
print("Max age:", max_age)

# II. Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max again:", ages)

# III. Find the median age
ages.sort()
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print("Median age:", median_age)

# IV. Find the average age
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

# V. Find the range of the ages
age_range = max_age - min_age
print("Range of ages:", age_range)

# VI. Compare the value of (min - average) and (max - average), use abs() method
min_average_diff = abs(min_age - average_age)
max_average_diff = abs(max_age - average_age)
print("Absolute difference between min age and average:", min_average_diff)
print("Absolute difference between max age and average:", max_average_diff)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7
Absolute difference between min age and average: 3.75
Absolute difference between max age and average: 3.25

# 2.Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [2]:
technologies = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for tech in technologies:
    print(tech, end=",")

Python,Numpy,Pandas,Django,Flask,

# 3.Create fruits, vegetables and animal products tuples.
```
I. Join the three tuples and assign it to a variable called food_stuff_tp.
II. Change the about food_stuff_tp tuple to a food_stuff_lt list
III. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
IV. Slice out the first three items and the last three items from food_staff_lt list
V. Delete the food_staff_tp tuple completely
```

In [4]:
# I. Create fruits, vegetables, and animal products tuples
fruits = ('guava', 'kiwi', 'avocado')
vegetables = ('cucumbre', 'potato', 'tomato')
animal_products = ('butter', 'chicken', 'milk')

# II. Join the three tuples and assign it to a variable called food_stuff_tp
food_stuff_tp = fruits + vegetables + animal_products
print("Food stuff tuple:", food_stuff_tp)

# III. Change the food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print("Food stuff list:", food_stuff_lt)

# IV. Slice out the middle item or items from the food_stuff_lt list
n = len(food_stuff_lt)
if n % 2 == 0:
    middle_items = food_stuff_lt[n//2 - 1 : n//2 + 1]
else:
    middle_items = [food_stuff_lt[n//2]]
print("Middle item(s):", middle_items)

# V. Slice out the first three items and the last three items from food_stuff_lt list
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]
print("First three items:", first_three_items)
print("Last three items:", last_three_items)

# VI. Delete the food_stuff_tp tuple completely
del food_stuff_tp

Food stuff tuple: ('guava', 'kiwi', 'avocado', 'cucumbre', 'potato', 'tomato', 'butter', 'chicken', 'milk')
Food stuff list: ['guava', 'kiwi', 'avocado', 'cucumbre', 'potato', 'tomato', 'butter', 'chicken', 'milk']
Middle item(s): ['potato']
First three items: ['guava', 'kiwi', 'avocado']
Last three items: ['butter', 'chicken', 'milk']

# 3. Create a set given below
```
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
I. Find the length of the set it_companies
II. Add 'Twitter' to it_companies
III. Insert multiple IT companies at once to the set it_companies
IV. Remove one of the companies from the set it_companies
V. What is the difference between remove and discard
```

In [7]:
# Create the sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# I. Find the length of the set it_companies
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

# II. Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# III. Insert multiple IT companies at once into the set it_companies
new_companies = {'Tesla', 'Netflix', 'Zoom'}
it_companies.update(new_companies)
print("it_companies after adding multiple companies:", it_companies)

# IV. Remove one of the companies from the set it_companies
it_companies.remove('IBM')  # Removing 'IBM' as an example
print("it_companies after removing 'IBM':", it_companies)

# V. Difference between remove and discard
it_companies.discard('NETFLIX')  # Doesn't Raises KeyError
print("it_companies after removing 'IBM':", it_companies)
print("discard doenn't raise an error if it not in the set")

# remove(element) raises KeyError if the element does not exist
it_companies.remove('NETFLIX')  # Raises KeyError
print("it_companies after removing 'IBM':", it_companies)
print("remove raises an error if it not in the set")

Length of it_companies: 7
it_companies after adding 'Twitter': {'Apple', 'Twitter', 'IBM', 'Amazon', 'Oracle', 'Microsoft', 'Facebook', 'Google'}
it_companies after adding multiple companies: {'Apple', 'Tesla', 'IBM', 'Amazon', 'Netflix', 'Zoom', 'Twitter', 'Facebook', 'Google', 'Microsoft', 'Oracle'}
it_companies after removing 'IBM': {'Apple', 'Tesla', 'Amazon', 'Netflix', 'Zoom', 'Twitter', 'Facebook', 'Google', 'Microsoft', 'Oracle'}
it_companies after removing 'IBM': {'Apple', 'Tesla', 'Amazon', 'Netflix', 'Zoom', 'Twitter', 'Facebook', 'Google', 'Microsoft', 'Oracle'}
discard doenn't raise an error if it not in the set

KeyError: 'NETFLIX'

4. From the above sets A and B
```
I. Join A and B
II. Find A intersection B
III. Is A subset of B
IV. Are A and B disjoint sets
V. Join A with B and B with A
VI. What is the symmetric difference between A and B
VII. Delete the sets completely
```

In [8]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# I. Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# II. Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# III. Is A subset of B
is_A_subset_of_B = A.issubset(B)
print("Is A a subset of B:", is_A_subset_of_B)

# IV. Are A and B disjoint sets
are_A_and_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_A_and_B_disjoint)

# V. Join A with B and B with A
A_union_B = A.union(B)
B_union_A = B.union(A)
print("A union B:", A_union_B)
print("B union A:", B_union_A)

# VI. What is the symmetric difference between A and B
symmetric_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_diff)

# VII. Delete the sets completely
del A
del B
print("Sets A and B are deleted.")

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A a subset of B: True
Are A and B disjoint sets: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets A and B are deleted.

# 5. Create an empty dictionary called dog.Add name, color, breed, legs, age to the dog dictionary

In [9]:
dog = {}

dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Golden Retriever'
dog['legs'] = 4
dog['age'] = 3

print(dog)

{'name': 'Buddy', 'color': 'Brown', 'breed': 'Golden Retriever', 'legs': 4, 'age': 3}

# 6. Create a student dictionary and add first_name, last_name, gender, age, marital status, skills,
```
country, city and address as keys for the dictionary
I. Get the length of the student dictionary
II. Get the value of skills and check the data type, it should be a list
III. Modify the skills values by adding one or two skills
IV. Get the dictionary keys as a list
V. Get the dictionary values as a list
VI. Change the dictionary to a list of tuples using _items()_ method
VII. Delete one of the items in the dictionary
VIII. Delete one of the dictionaries
```

In [10]:
# I. Create the student dictionary
student = {
    'first_name': 'Subha',
    'last_name': 'Saha',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'INDIA',
    'city': 'Newtown',
    'address': 'PIN: 700160'
}

# II. Get the length of the student dictionary
length_student = len(student)
print("Length of student dictionary:", length_student)

# III. Get the value of skills and check the data type
skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))  # Should output <class 'list'>

# IV. Modify the skills values by adding one or two skills
student['skills'].append('PLSQL')
student['skills'].append('C++')
print("Updated skills:", student['skills'])

# V. Get the dictionary keys as a list
keys = list(student.keys())
print("Dictionary keys:", keys)

# VI. Get the dictionary values as a list
values = list(student.values())
print("Dictionary values:", values)

# VII. Change the dictionary to a list of tuples using items() method
items = list(student.items())
print("Dictionary as list of tuples:", items)

# VIII. Delete one of the items in the dictionary
del student['marital_status']
print("Student dictionary after deleting 'marital_status':", student)

# IX. Delete the dictionary completely
del student
print("Student dictionary deleted.")

Length of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'PLSQL', 'C++']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['Subha', 'Saha', 'Male', 22, 'Single', ['Python', 'Java', 'PLSQL', 'C++'], 'INDIA', 'Newtown', 'PIN: 700160']
Dictionary as list of tuples: [('first_name', 'Subha'), ('last_name', 'Saha'), ('gender', 'Male'), ('age', 22), ('marital_status', 'Single'), ('skills', ['Python', 'Java', 'PLSQL', 'C++']), ('country', 'INDIA'), ('city', 'Newtown'), ('address', 'PIN: 700160')]
Student dictionary after deleting 'marital_status': {'first_name': 'Subha', 'last_name': 'Saha', 'gender': 'Male', 'age': 22, 'skills': ['Python', 'Java', 'PLSQL', 'C++'], 'country': 'INDIA', 'city': 'Newtown', 'address': 'PIN: 700160'}
Student dictionary deleted.

# 7.Create a person dictionary.
```
person={
  'first_name': 'Asabeneh',
  'last_name': 'Yetayeh',
  'age': 250,
  'country': 'Finland',
  'is_marred': True,
  'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
  'address': {
    'street': 'Space street',
    'zipcode': '02210'
  }
}
  I. Check if the person dictionary has skills key, if so print out the middle skill in the skills list.
  II. Check if the person dictionary has skills key, if so check if the person has 'Python' skill and
  print out the result.
  III. If a person skills has only JavaScript and React, print('He is a front end developer'), if the
  person skills has Node, Python, MongoDB, print('He is a backend developer'), if the person
  skills has React, Node and MongoDB, Print('He is a fullstack developer'), else print('unknown
  title') - for more accurate results more conditions can be nested!
  IV. If the person is married and if he lives in Finland, print the information in the following format:
     Asabeneh Yetayeh lives in Finland. He is married.
```

In [11]:

person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

# I. Check if the person dictionary has skills key, if so, print out the middle skill in the skills list
if 'skills' in person:
    skills = person['skills']
    middle_index = len(skills) // 2
    middle_skill = skills[middle_index]
    print("Middle skill:", middle_skill)

# II. Check if the person dictionary has skills key, if so, check if the person has 'Python' skill and print out the result
if 'skills' in person:
    has_python = 'Python' in person['skills']
    print("Has Python skill:", has_python)

# III. Determine the person's title based on their skills
if 'JavaScript' in skills and 'React' in skills and len(skills) == 2:
    print('He is a front end developer')
elif 'Node' in skills and 'Python' in skills and 'MongoDB' in skills:
    print('He is a backend developer')
elif 'React' in skills and 'Node' in skills and 'MongoDB' in skills:
    print('He is a fullstack developer')
else:
    print('Unknown title')

# IV. If the person is married and lives in Finland, print the information
if person['is_marred'] and person['country'] == 'Finland':
    full_name = person['first_name'] + ' ' + person['last_name']
    print(f"{full_name} lives in Finland. He is married.")

Middle skill: Node
Has Python skill: True
He is a backend developer
Asabeneh Yetayeh lives in Finland. He is married.

# 8. Print the season name of the year based on the month number using a dictionary.

In [12]:
month_to_season = {
    1: 'Winter', 2: 'Winter', 3: 'Spring',
    4: 'Spring', 5: 'Spring', 6: 'Summer',
    7: 'Summer', 8: 'Summer', 9: 'Autumn',
    10: 'Autumn', 11: 'Autumn', 12: 'Winter'
}

def get_season(month):
    return month_to_season.get(month, 'Invalid month')

month_number = int(input("Enter the month number: "))
season = get_season(month_number)
print(f"The season for month {month_number} is {season}.")

Enter the month number: 12
The season for month 12 is Winter.