# 1. To find the sum of square root of any three numbers.

In [3]:
#1. To find the sum of square root of any three numbers.
import math
a,b,c=map(int,input("Enter 3 numbers: ").split())
print(math.sqrt(a)+math.sqrt(b)+math.sqrt(c))

Enter 3 numbers: 5 5 5
6.708203932499369

# 2. To solve the quadratic equation.

In [10]:
#2. To solve the quadratic equation.
import cmath
a,b,c=map(int,input("Enter 3 numbers: ").split())
d=(b**2)-(4*a*c)
sol1=(-b+cmath.sqrt(d))/(2*a)
sol2=(-b-cmath.sqrt(d))/(2*a)
print(sol1,sol2)

Enter 3 numbers: 1 2 1
(-1+0j) (-1+0j)

# 3. Find GCD of two numbers

In [12]:
#3. Find GCD of two numbers
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)

a,b=map(int,input("Enter 2 numbers: ").split())
GCD=gcd(a,b)
print("GCD is: ", GCD)

Enter 2 numbers: 60 48
GCD is:  12

# 4. Compute
1.   5 to the power of 8
2.   square root of 400
3.   exponent of 5
4.   Logarithm of 625 base 5

In [14]:
#4. Compute a)5 to the power of 8 b)square root of 400 c)exponent of 5 d)Logarithm of 625 base 5
import math
print("5 to the power of 8 is: ",math.pow(5,8))
print("square root of 400 is: ",math.sqrt(400))
print("exponent of 5 is: ",math.exp(5))
print("Logarithm of 625 base 5 is: ",math.log(625,5))

5 to the power of 8 is:  390625.0
square root of 400 is:  20.0
exponent of 5 is:  148.4131591025766
Logarithm of 625 base 5 is:  4.0

# 5. Compute

1.   sin of 60 degree
2.   cos of pi
3.   sin(0.8660254037844386)
4.   tan of 90 degree

In [15]:
#5. Compute a)sin of 60 degree b)cos of pi c)sin(0.8660254037844386) d)tan of 90 degree
import math
print("sin of 60 degree is: ",math.sin(60))
print("cos of pi is: ",math.cos(math.pi))
print("sin(0.8660254037844386) is: ",math.sin(0.8660254037844386))
print("tan of 90 degree is: ",math.tan(90))

sin of 60 degree is:  -0.3048106211022167
cos of pi is:  -1.0
sin(0.8660254037844386) is:  0.7617599814162892
tan of 90 degree is:  -1.995200412208242

# 6. Define a sum function with two parameters and call the function

In [16]:
#6. Define a sum function with two parameters and call the function
def sum(a,b):
  return a+b

a,b=map(int,input("Enter 2 numbers: ").split())
print(sum(a,b))

Enter 2 numbers: 5 6
11

# 7. WAP to reverse a given string.

In [18]:
# 7. WAP to reverse a given string.
def reverse(string):
  str=""
  for i in string:
    str=i+str
  return str

string=input("Enter a string: ")
print(reverse(string))

Enter a string: Subha
ahbuS

# 8. Write a function to calculate the power of a number using recursion

In [ ]:
# 8. Write a function to calculate the power of a number using recursion
def power(a,b):
  if(b==1):
    return a
  else:
    return a*power(a,b-1)

a,b=map(int,input("Enter 2 numbers: ").split())
print(power(a,b))

# 9. Convert Decimal number to Binary

In [19]:
# 9. Convert Decimal number to Binary
def binary(n):
  if(n>1):
    binary(n//2)
  print(n%2,end="")

n=int(input("Enter a number: "))
binary(n)

Enter a number: 10
1010

# 10. Write a program in Python to check if a number is Krishnamurthy number.

In [24]:
#10. Write a program in Python to check if a number is Krishnamurthy number.
def fact(n):
  if(n==0):
    return 1
  else:
    return n*fact(n-1)

def sum(n):
  sum=0
  temp=n
  while(temp>0):
    i=temp%10
    sum=sum+fact(i)
    temp=temp//10
  return sum

n=int(input("Enter a number: "))
if(n==sum(n)):
  print("It is a Krishnamurthy number")
else:
  print("It is not a Krishnamurthy number")

Enter a number: 145
It is a Krishnamurthy number

# 11. Write a program in Python to find the sum of digits of a number.

In [26]:
# 11. Write a program in Python to find the sum of digits of a number.
def sum(n):
  sum=0
  while(n>0):
    i=n%10
    sum=sum+i
    n=n//10
  return sum

n=int(input("Enter a number: "))
print(sum(n))

Enter a number: 123
6

# 12. Write a program in Python that prompts the user to input a number and prints its multiplication table.

In [28]:
# 12. Write a program in Python that prompts the user to input a number and prints its multiplication table.
def table(n):
  for i in range(1,11):
    print(n,"*",i,"\t=",n*i)

n=int(input("Enter a number: "))
table(n)

Enter a number: 2
2 * 1 	= 2
2 * 2 	= 4
2 * 3 	= 6
2 * 4 	= 8
2 * 5 	= 10
2 * 6 	= 12
2 * 7 	= 14
2 * 8 	= 16
2 * 9 	= 18
2 * 10 	= 20

# 13. Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3.

In [35]:
# 13. Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3.

a=2
d=3
for i in range(6):
  print(a, end=",")
  a=a*d
  i=i+1

2,6,18,54,162,486,

# 14. Print the series upto N terms: 1,2,6,24,120,720 …

In [34]:
# 14. Print the series upto N terms: 1,2,6,24,120,720 …
def series(n):
  if(n==0):
    return 1
  else:
    return n*series(n-1)

n=int(input("Enter a number: "))
for i in range(1,n+1):
  print(series(i), end=",")

Enter a number: 6
1,2,6,24,120,720,

# 15. Write a Python program that prompts the user to enter a base number and an exponent, and then calculates the power of the base to the exponent. The program should not use the exponentiation operator (**) or the math.pow() function.

In [36]:
# 15. Write a Python program that prompts the user to enter a base number and an exponent, and then calculates the power of the base to the exponent. The program should not use the exponentiation operator (**) or the math.pow() function.
def power(a,b):
  if(b==0):
    return 1
  else:
    return a*power(a,b-1)

a=int(input("Enter a base number: "))
b=int(input("Enter an exponent: "))
print(power(a,b))

Enter a base number: 2
Enter an exponent: 3
8